@import '../../../styles/vars';

.map {
  width: 100%;
  height: 800px;
}

.mapMaker {
  display: block;
  &__mapIcon {
    width: 25px;
    position: absolute;
    top: -40px;
    cursor: pointer;
    &:hover ~ .mapStoreInfo,
    &:focus ~ .mapStoreInfo {
      display: flex !important;
    }
  }
  &__checkbox {
    padding: 0;
    display: block;
    position: absolute;
    top: -41px;
    left: -20px;
    width: 10px;
    height: 20px;
    opacity: 0;
    &:checked ~ .mapStoreInfo,
    &:hover ~ .mapStoreInfo {
      display: flex !important;
    }
  }
}

.mapStoreInfo {
  display: none;
  flex-direction: row;
  position: absolute;
  top: -13rem;
  left: -10px;
  width: 485px;
  padding: 10px;
  border: thin solid grey;
  background-color: #fff;
  &__storeImgWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__storeImg {
    width: 100%;
  }
  &__textInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &__description {
    font-size: .8rem;
    font-weight: 600;
  }
  &__storeBtn {
    border-radius: 25px;
    background-color: #fff;
    color: red;
    border: solid thin #fff;
  }
  &__triangle {
    display: block;
    position: absolute;
    bottom: -40px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
    border-top: 40px solid #fff;
  }
}
