$mobile-width: 599px;
$tablet-width: 768px;
$tablet-pro-width: 1024px;
$desktop-width: 1200px;
$deskt-xl-width: 1800px;
$deskt-xtral-width: 1848px;

/* Shadow-ui */
$shadow-1: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
  rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
$shadow-2: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
  rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
$hover-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

// Theme color vars
$primary-color: #dd1500;
$secondary-color: #fff;
$accent-color-black: #000;
$accent-color-grey: #f4f4ed;
$accent-color-green: #46b766;

// homepage
$home-border-color: #c1c1c1;
$line-color: #c1c1c1;
$home-bg-color: #eae9e4;

// product-Card
$product-card-line-color: #bababa;

// text colors
$primary-text-color: #000;
$secondary-text-color: #fff;
$homepage-anchor-color: #46b768 !important;

// homepage text-color
$homepage-text-color: #595959;
$alert-text-color: $primary-color;

// font-size
$h1-desktop: 2rem;
$h1-tablet: 1.2rem;
$h1-mobile: 1.05rem;
$h2-desktop: 1.8rem;
$h2-tablet: 1.2rem;
$h2-mobile: 1.5rem;
$h3-desktop: 1.6rem;
$h3-tablet: 1.2rem;
$h3-mobile: 1.5rem;
$header-4-size: 1.2rem;
$header-5-size: 1.2rem;
$p-text-size: 1.12rem;
$p-text-mobile-size: 1rem;
