#app {
  position: relative;
  min-height: 100vh;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.content-wrapper {
  @include mobile {
    width: 85vw;
    position: relative;
    right: 0;
    margin-left: 15vw;
  }
}

.clr__header1 {
  @include mobile {
    font-size: 1.5rem;
  }
}
.clr__p {
  @include Montserrat;
  font-size: 1rem;
}
